.menubutton {
    color: var(--menucol);
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
    transition: all .25s ease;
}

.menu {
    position: fixed;
    left: -20em;
    top: 3em;
    z-index: 100;
    transition: all .5s ease;
    background-color: var(--secondarycol);
    list-style-type: none;
}

.menuinput:checked~.menu { left: 2em; }
.menuinput:hover { color: var(--selectedmenucol); }
.menuinput { display: none !important; }
.menuinput:checked+.menubutton {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.35);
    color: #9799a7;
}

#logo {
    display: block;
    padding: 0 30px;
    font-size: 20px;
    line-height: 60px;
    color: white;
}

.topnav {
    background-color: var(--secondarycol);
    display: flex;
    max-height: 3em;
}

@media only screen and (min-width:60em) {
    .menubutton { display: none; }
    #logo { display: inline; }
    .topnav .menu li {
        margin-right: 1.5em;
        margin-top: 1em;
    }

    .menu {
        margin-left: 2em;
        position: unset;
        display: flex;
    }
}