.schedule {
  margin: 0 auto;
  /*width: 50em;*/
  width: fit-content;
}

.verk2 { margin: 0.5em; }

table {

  border-collapse: collapse;

}

td {

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1em;

}

@media screen and (max-width:48em) {

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table {
    border-collapse:collapse;
    margin-bottom: 0.5em;
    table-layout: fixed;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
  }

}