.circle {

    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0.5em

}

.hidden {

    display: none;

}

.imgback {

    color: #ddd;
    background-image: url(../images/values-bg.jpg);
    background-repeat: round;

}

.rotate5 {

    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);

}

.mobileimg {

    width: 50%;
    height: auto;

}

.circlecontainer {

min-width: 100%;
text-align: center;
padding-top: 0.5em;
padding-bottom: 0.5em;

}

.fullwidth {

    width: 100%;

}

.mainsection {

    margin: 0 auto;
    margin-top: 0.5em;
    max-width: 80%;

}

.menubutton {
    color: #0087cc;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
    transition: all .25s ease;
}

.topnav {
    /*max-height: 0;
    overflow: hidden; - transition height víbrar í símum,*/
    position: fixed; /* ath - sticky */
    left: -20em;
    top: 3em;
    z-index: 100;
    transition: all .5s ease;
}
.menuinput:checked ~ .topnav {
    /*max-height: 500px;*/
    left: 2em
}

.menuinput:checked + .menubutton {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.35);
    color: #9799a7;
}

.menubutton:hover {
    color: #ff7b29;
}

.menuinput { display: none !important;}